a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #0F0F0F;
    color: white;
  }

  a {
    color: aqua;
  }

  a:visited {
    color: chocolate;
  }

  .footer {
    background-color: #0F0F0F;
  }

  .multiselect .multiselect__tags {
    background-color: #101010;
    color: white;
  }

  .multiselect__tags .multiselect__single {
    background-color: #101010;
    color: white;
  }

  .multiselect .multiselect__input {
    background-color: #101010;
    color: white;
  }

  .multiselect .multiselect__content-wrapper {
    background-color: #101010;
    color: white;
  }

  .multiselect .multiselect__option--selected {
    background-color: #101010;
    color: white;
  }

  svg * {
    fill: black;
    color: white;
    background: white;
  }

  svg path {
    fill: white;
    color: white;
    background: white;
  }

  button.coord-clickie {
    background-color: #222222;
    color: lightblue;
  }

  button.coord-clickie-active {
    color: violet;
  }

  .help-tooltip {
    background-color: #134269 !important;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: white;
    color: black;
  }

  .footer {
    background-color: white;
  }

  button.coord-clickie {
    color: blue;
  }

  button.coord-clickie-active {
    color: darkviolet;
  }
}
