a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --placeholder-text-color: gray;
    --background-color: #303030;
    --link-color: aqua;
    --visited-link-color: chocolate;
    --dropdown-active-background-color: #235f44;
    --dropdown-active-text-color: white;
    --dropdown-selected-background-color: #EEEEEE;
    --dropdown-selected-text-color: black;
    --element: 1px solid #777777;
  }

  .tl-navi-icon * {
    fill: black;
    color: white;
    background: white;
  }

  .tl-navi-icon path {
    fill: white;
    color: white;
    background: white;
  }

  button.coord-clickie {
    background-color: #222222;
    color: lightblue;
  }

  button.coord-clickie-active {
    color: violet;
  }

  .help-tooltip {
    background-color: #134269 !important;
    color: white;
  }
  .tl-navi-icon-translocator path {
    stroke: #FFA0FF;
  }

  .travel-distance-short{
    color: green;
  }
  .travel-distance-medium{
    color: yellowgreen;
  }
  .travel-distance-long{
    color: yellow;
  }
  .travel-distance-very-long{
    color: orange;
  }
  .travel-distance-insane{
    color: red;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --text-color: black;
    --dropdown-active-background-color: #41b883;
    --dropdown-active-text-color: white;
    --dropdown-selected-background-color: #F0F0F0;
    --dropdown-selected-text-color: black;
    --element: 1px solid #555555;
  }

  button.coord-clickie {
    color: blue;
  }

  button.coord-clickie-active {
    color: darkviolet;
  }

  .tl-navi-icon-translocator path {
    stroke: darkviolet;
  }

  .travel-distance-short{
    color: #00AA90;
  }
  .travel-distance-medium{
    color: #608020;
  }
  .travel-distance-long{
    color: #906000;
  }
  .travel-distance-very-long{
    color: #A03000;
  }
  .travel-distance-insane{
    color: #F00000;
  }
}

/* ================================= */
:root {
  background-color: var(--background-color);
  color: var(--text-color);
}
a {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-link-color);
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
  background: transparent;
  color: transparent;
}

.multiselect--disabled {
  background: transparent;
}

.multiselect .multiselect__tags {
  background-color: var(--background-color);
  color: var(--text-color);
}

.multiselect__tags .multiselect__single {
  background-color: var(--background-color);
  color: var(--text-color);
}

.multiselect__tags {
  border: var(--element);
}

.multiselect .multiselect__input {
  background-color: var(--background-color);
  color: var(--text-color);
}

.multiselect .multiselect__content-wrapper {
  background-color: var(--background-color);
  color: var(--text-color);
  border: var(--element);
}

.multiselect .multiselect__option--selected {
  background-color: var(--background-color);
  color: var(--text-color);
}

.multiselect__option--highlight {
  background-color: var(--dropdown-active-background-color);
  color: var(--dropdown-active-text-color);
}

.multiselect__option--highlight::after {
  background-color: var(--dropdown-active-background-color);
  color: var(--dropdown-active-text-color);
}

.multiselect__input::placeholder {
  color: var(--text-color);
}

.multiselect__option--selected, multiselect__option--selected::after {
  background-color: var(--dropdown-selected-background-color) !important;
  color: var(--dropdown-selected-text-color) !important;
}

.multiselect__option--selected:hover, multiselect__option--selected::after:hover {
  background-color: var(--dropdown-selected-background-color) !important;
  color: var(--dropdown-selected-text-color) !important;
}

.zoom-select-container {
  background: var(--background-color);
  color: var(--text-color);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10000;
  padding: 5px;
  border-radius: 5px;
}

.server-editor {
  border: var(--element);
  border-radius: 5px;
}

.server-editor input[type=text] {
  border: var(--element);
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color)
}

.tl-navi-icon-translocator {
  margin-right: 5px;
}

button, input[type=file]::file-selector-button {
  min-height: 32px;
  border: var(--element);
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color);
}
/* ================================= */
